* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.background {
  width: 100%;
  background-color: #bdcddc;
  position: relative;
  z-index: 0;
  background-image: url("./img/background.png");
}

.background .bg_left {
  z-index: 2;
}

.background .bg_right {
  z-index: 2;
  text-align: center;
}

.background .bg_right .bg_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background .bg_right .bg_content h3 {
  color: #8d1737;
  font-weight: 400;
}

.background .bg_right .bg_content h1 {
  color: #8d1737;
  text-transform: uppercase;
}

.background .bg_right .bg_content h2 {
  font-weight: 500;
}

.background .bg_right .bg_content .button {
  background-color: white;
  color: #8d1737;
  cursor: pointer;
}

.background .bg_right .bg_content .button span {
  display: block;
}

.background .logo {
  position: absolute;
}

.background .bg_red {
  position: absolute;
}

/* FOOTER */
#site_footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#site_footer .right {
  text-align: right;
}

#site_footer .right p {
  font-weight: 500;
}

/* MEDIA QUERY */
@media screen and (max-width: 767px) {
  #site_main .background {
    height: calc(100vh -1px);
    background-position: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 150px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  #site_main .background .bg_left {
    margin: 50px 0 0 50px;
  }
  #site_main .background .bg_left img {
    height: 400px;
    width: 500;
  }
  #site_main .background .bg_right .bg_content h3 {
    font-size: 25px;
    width: 600px;
  }
  #site_main .background .bg_right .bg_content h1 {
    font-size: 38px;
    margin: 20px 0;
  }
  #site_main .background .bg_right .bg_content h2 {
    font-size: 23px;
    width: 500px;
    margin-bottom: 20px;
  }
  #site_main .background .bg_right .bg_content .button {
    padding: 12px 25px;
    margin-bottom: 10px;
    border-radius: 40px;
  }
  #site_main .background .bg_right .bg_content .button h4 {
    font-size: 35px;
  }
  #site_main .background .bg_right .bg_content .button span {
    font-size: 23px;
    width: 400px;
    line-height: 25px;
  }
  #site_main .background .bg_right .bg_content p {
    font-size: 20px;
  }
  #site_main .background .logo {
    top: 0;
    right: 0;
  }
  #site_main .background .logo img {
    height: 130px;
    width: 350px;
  }
  #site_main .background .bg_red {
    bottom: -1%;
    z-index: 1;
  }
  #site_main .background .bg_red img {
    width: 100%;
  }
  #site_footer .left img {
    height: 30px;
  }
  #site_footer .right {
    padding: 50px 0;
  }
  #site_footer .right p {
    font-size: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #site_main .background {
    height: calc(100vh -1px);
    background-position: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 150px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  #site_main .background .bg_left {
    margin: 50px 0 0 50px;
  }
  #site_main .background .bg_left img {
    height: 450px;
    width: 550;
  }
  #site_main .background .bg_right .bg_content h3 {
    font-size: 25px;
    width: 650px;
  }
  #site_main .background .bg_right .bg_content h1 {
    font-size: 43px;
    margin: 20px 0;
  }
  #site_main .background .bg_right .bg_content h2 {
    font-size: 23px;
    width: 500px;
    margin-bottom: 20px;
  }
  #site_main .background .bg_right .bg_content .button {
    padding: 10px 30px;
    margin-bottom: 10px;
    border-radius: 40px;
  }
  #site_main .background .bg_right .bg_content .button h4 {
    font-size: 35px;
  }
  #site_main .background .bg_right .bg_content .button span {
    font-size: 23px;
    width: 400px;
    line-height: 25px;
  }
  #site_main .background .bg_right .bg_content p {
    font-size: 20px;
  }
  #site_main .background .logo {
    top: 0;
    right: 0;
  }
  #site_main .background .logo img {
    height: 150px;
    width: 400px;
  }
  #site_main .background .bg_red {
    bottom: -1%;
    z-index: 1;
  }
  #site_main .background .bg_red img {
    width: 100%;
  }
  #site_footer .left img {
    height: 40px;
  }
  #site_footer .right {
    padding: 50px 0;
  }
  #site_footer .right p {
    font-size: 10px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  #site_main .background {
    height: 100vh;
    background-position: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  #site_main .background .bg_left {
    margin: 50px 0 0 50px;
  }
  #site_main .background .bg_left img {
    height: 500px;
    width: 650px;
  }
  #site_main .background .bg_right .bg_content h3 {
    font-size: 22px;
    width: 650px;
  }
  #site_main .background .bg_right .bg_content h1 {
    font-size: 44px;
    margin: 20px 0;
  }
  #site_main .background .bg_right .bg_content h2 {
    font-size: 25px;
    width: 500px;
    margin-bottom: 20px;
  }
  #site_main .background .bg_right .bg_content .button {
    padding: 15px 50px;
    margin-bottom: 10px;
    border-radius: 40px;
  }
  #site_main .background .bg_right .bg_content .button h4 {
    font-size: 35px;
  }
  #site_main .background .bg_right .bg_content .button span {
    font-size: 21px;
    width: 400px;
    line-height: 25px;
  }
  #site_main .background .bg_right .bg_content p {
    font-size: 22px;
  }
  #site_main .background .logo {
    top: 0;
    right: 0;
  }
  #site_main .background .logo img {
    height: 130px;
    width: 340px;
  }
  #site_main .background .bg_red {
    bottom: -1%;
    z-index: 1;
  }
  #site_main .background .bg_red img {
    width: 100%;
  }
  #site_footer .left img {
    height: 45px;
  }
  #site_footer .right {
    padding: 50px 0;
  }
  #site_footer .right p {
    font-size: 13px;
  }
}

@media screen and (min-width: 1200px) {
  #site_main .background {
    height: 100vh;
    background-position: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  #site_main .background .bg_left {
    margin: 50px 0 0 50px;
  }
  #site_main .background .bg_left img {
    height: 580px;
    width: 680px;
  }
  #site_main .background .bg_right .bg_content h3 {
    font-size: 20px;
    width: 500px;
  }
  #site_main .background .bg_right .bg_content h1 {
    font-size: 42px;
    margin: 20px 0;
  }
  #site_main .background .bg_right .bg_content h2 {
    font-size: 23px;
    width: 410px;
    margin-bottom: 20px;
  }
  #site_main .background .bg_right .bg_content .button {
    padding: 15px 50px;
    margin-bottom: 10px;
    border-radius: 40px;
  }
  #site_main .background .bg_right .bg_content .button h4 {
    font-size: 35px;
  }
  #site_main .background .bg_right .bg_content .button span {
    font-size: 21px;
    width: 400px;
    line-height: 25px;
  }
  #site_main .background .logo {
    top: 0;
    right: 0;
  }
  #site_main .background .logo img {
    height: 130px;
    width: 340px;
  }
  #site_main .background .bg_red {
    bottom: -1%;
    z-index: 1;
  }
  #site_main .background .bg_red img {
    width: 100%;
  }
  #site_footer .left img {
    height: 45px;
  }
  #site_footer .right {
    padding: 50px 0;
  }
  #site_footer .right p {
    font-size: 13px;
  }
}
/*# sourceMappingURL=style.css.map */